{
    "env": {
  
      "node": true,
      "es6": true,
      "mocha": true
    },
    "settings": {
      "ecmascript": 6
    },
    "rules": {
      "quotes": [2, "single"],
      "no-underscore-dangle": [0],
      "indent": [2, 2],
      "no-shadow": [0],
      "max-len": [2, 120],
      "import/no-unresolved": [0],
      "comma-dangle": [0],
      "no-param-reassign": [0],
      "func-names":[0],
      "strict":[0]
    }
  }
  